body{
    background-image: url("plane.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    margin-left: 8%;
 margin-top: 7%;
 width: 30%;

}
div h1,h4{
    text-transform: uppercase;
}